<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Skill-Scout</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}start_boot/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}start_boot/css/freelancer.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="{{STATIC_URL}}start_boot/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Skill-Scout</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Overview</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About Us</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{STATIC_URL}}start_boot/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Welcome to Skill-Scout</span>
                        <hr class="star-light">
                        <span class="skills">The skills employers need, taught the way students want</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item text-center">
                    <h3>Employers</h3>
                    <p>
                        Your employees know best what it takes to be successfull at your company (trust us).  Let them use Skill-Scout to
                        inventory your enterprise skill needs and design the learning
                        curriculum needed to grow those skills.
                    </p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{STATIC_URL}}start_boot/img/portfolio/safe.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item text-center">
                    <h3>Students</h3>
                    <p>
                        Gain deep visability into the needs of your future employer.
                        Learn about their culture and interact with their employees.
                        See first-hand the resources you can use to grow the skills they need.
                        Get a job your love and are good at! Easy.
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{STATIC_URL}}start_boot/img/portfolio/game.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item text-center">
                    <h3>Universities</h3>
                    <p>
                        You have the power to make America smarter! SkillScout is here to help.
                        Use the SkillScout curriculum to connect Students to Employers and ensure that the skills employers
                        want are being properly taught and retained.
                    </p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{STATIC_URL}}start_boot/img/portfolio/submarine.png" class="img-responsive" alt="" />
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">


                    <p>
                        SkillScout relies on Students, Employers, and Teachers working in unison. The platform is strongly rooted in the
                        ideals of “collective intelligence” and the “open source” movement.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Skill-Scout’s goal is to introduce college students to the needs of the local
                        workkplace and give them a rigorous foundation of knowledge and experiences from which to grow their skills.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/dashboard" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Check out the sample dashboard
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="email">Email Address</label>
                                <input class="form-control" type="email" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="message">Message</label>
                                <textarea placeholder="Message" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-lg btn-success">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>
                            Scott Technology Center
                            <br>Omaha, NE
                        </p>
                    </div>
                    <div class="footer-col col-md-4">

                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Skill-Scout</h3>
                        <p>SkillScout is created by parent company, <a href="http://mettentot.com">Metten Tot Wetten</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2014 - Metten Tot Wetten
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->

    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Aggregating data from thousands of employers - creating the world's best job-prep curriculum.
</h2>
                            <hr class="star-primary">
                            <img src="{{STATIC_URL}}start_boot/img/portfolio/safe.png" class="img-responsive img-centered" alt="">


                            <p>
                            <p dir="ltr">
                                Highly trained Skill-Scout instructors will design quality, rigorous job-prep curriculum. The classes will be focused on:
                            </p>
                            <ul>
                                <li dir="ltr">
                                    <p dir="ltr">
                                        Promoting in-demand, real-world skills using employer-suggested curriculum,
                                    </p>
                                </li>
                                <li dir="ltr">
                                    <p dir="ltr">
                                        Giving students access to employers and visibility into the ‘day in the life”,
                                    </p>
                                </li>
                                <li dir="ltr">
                                    <p dir="ltr">
                                        Giving students something “more” to put on their resume besides GPA.
                                    </p>
                                </li>
                            </ul>
                            <br />
                            <p dir="ltr">
                                In order to remain industry agnostic, the curriculum will be focused on developing “soft-skill” deficiencies (economist paper). The Skill-Scout web
                                platform will still give insights into the demands and suggestions for hard skills, but curriculum will not focus on developing those.
                            </p>
                            <br />
                            <p dir="ltr">
                                The course will be challenging and use innovative approaches to simulate real world issues. Each week, students will select an enrolled employer for whom
                                they wish to “work”. The platform will automatically handle conflicts and overbooking using a real-time “medical residency style” matching algorithm
                                (footnote - medical match).
                            </p>
                            <br />
                            <p dir="ltr">
                                Throughout the course, students will undergo skype behavioral interviews (footnote - behavior interviews) and deliver presentations to their employers.
                                From this they will receive their marks and, more importantly, a “direct link” to those employers for future questions, learning tasks, and employment.
                            </p>
                            <br />
                            <p dir="ltr">
                                To ensure scaleability, the number of students who can take the course will remain proportional to the number of enrolled employers. For required reading,
                                a fact-to-question-generation algorithm (footnote facts) will be used to generate questions, which will be asked to students via text. This will promote
                                “reading for information” and will ensure that the course material can be scaled infinitely with little instructor oversight.
                            </p>
                            <div>
                                <br />
                            </div>



                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Analytics and Real-Time feedback - more than buzzwords</h2>
                            <hr class="star-primary">
                            <img src="{{STATIC_URL}}start_boot/img/portfolio/game.png" class="img-responsive img-centered" alt="">

                            <p>Advertisements and data on industry needs abound on college campuses. Students have more information than they could ever possibly consume. However, the content is high level and often perceived as disingenuous recruiting material. There is no aggregated and unbiased source of info. </p>

                            <br />
                            <p>Students from participating universities will have access to all jobs, skills, and learning curriculum and will be encourage to rate and comment on the content. Students enrolled in a class will, in real-time, be able to provide structured feedback to instructors and their peers. From this feedback, machine learning algorithms within the platform can make adjustments to future content. </p>

                            <br />
                            Employers will likewise be able to monitor the progress of the participating students and constantly update their skill needs and learning resource suggestions.


                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Constant Communication</h2>
                            <hr class="star-primary">
                            <img src="{{STATIC_URL}}start_boot/img/portfolio/submarine.png" class="img-responsive img-centered" alt="">

                            Using the Skill-Scout web-interface, employees of these companies can to use the app to build a suggested learning curriculum for the skills listed.  Because the employees know the content best and are usually the ones that suffer most from inexperienced hires, they will be naturally motivated to contribute content (footnote).

                            Using publicly available API’s and web-scraping techniques, learning resources will be catalogued within the application similar to how music and videos are catalogued in iTunes. Resources will include books, podcasts, online courses, articles, and even courses from local universities (footnote - copywrite).  Employees can design playlists called “scout-outs” which can then be adjusted and rated by the masses.

                            As a result, each enrolled employer will accumulate a list of their in-demand skills and crowd-sourced suggestions for ways to grow those skills.

                            As Students enroll in courses, the students, employees, and administrators can use the platform to exchange ideas and feedback. Something that has NEVER been done. 

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{STATIC_URL}}start_boot/js/jquery-1.10.2.js"></script>
    <script src="{{STATIC_URL}}start_boot/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{STATIC_URL}}start_boot/js/classie.js"></script>
    <script src="{{STATIC_URL}}start_boot/js/cbpAnimatedHeader.js"></script>
    <script src="{{STATIC_URL}}start_boot/js/freelancer.js"></script>

</body>

</html>
