{% extends "base.html" %}

{% block content %}

<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row state-overview">

            <div class="col-sm-12">
                <!--user profile info start-->
                <section class="panel">
                    <div class="profile-widget profile-widget-info">
                        <div class="panel-body">


                            <div class="col-sm-6 follow-info">

                                <p>Search for a specific company, job, or skill</p>
                                <input class="form-control m-bot15" type="text" placeholder="Searchit">

                            </div>

                            <div class="col-sm-6 follow-center">
                                <p>Add Filters to your Scout List</p>
                                <h6>
                                    <a class="whitehyp" href="#"><span><i class="icon_clock_alt"></i>Filter by Major or Industry</span></a>
                                    <br />
                                    <a class="whitehyp" href="#"><span><i class="icon_calendar"></i>Filter by Company</span></a>
                                </h6>
                            </div>


                        </div>

                    </div>

                </section>

            </div>


            <!-- ===== PANEL STARTS ===== -->
            <div class="state col-lg-12">

                <div class="row">
                    <div class="col-sm-3">
                        <a class="hover" href="#">
                            <section class="panel">

                                <div class="symbol">
                                    <i class="icon_globe"></i>
                                </div>
                                <div class="value">
                                    <h1>22</h1>
                                    <p>Companies</p>
                                </div>

                            </section>
                        </a>
                    </div>

                    <div class="col-sm-3">
                        <section class="panel">
                            <div class="symbol">
                                <i class="icon_globe"></i>
                            </div>
                            <div class="value">
                                <h1>300</h1>
                                <p>Jobs</p>
                            </div>
                        </section>
                    </div>

                    <div class="col-sm-3">
                        <section class="panel">
                            <div class="symbol">
                                <i class="icon_tags_alt"></i>
                            </div>
                            <div class="value">
                                <h1>140</h1>
                                <p>Skills Needed</p>
                            </div>
                        </section>
                    </div>

                    <div class="col-sm-3">
                        <section class="panel">
                            <div class="symbol">
                                <i class="icon_cart_alt"></i>
                            </div>
                            <div class="value">
                                <h1>45</h1>
                                <p>Scout-Outs</p>
                            </div>
                        </section>
                    </div>

                </div>

            </div>
            <!-- statics end -->
        </div>
        <!--overview end-->
        <!-- project team & activity start -->
        <div class="row">


            <div class="col-lg-8">

                <style type="text/css">

                    op {

                                        -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 

                    }

                    .img1 {
                    background-image: url({{STATIC_URL}}img/scouts/med1.jpg);
                    background-repeat: no-repeat;
                    background-size:100% auto;

                                                            -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 

                    }

                                        .img2 {
                    background-image: url({{STATIC_URL}}img/scouts/tech.jpg);
                    background-repeat: no-repeat;
                    background-size:100% auto;

                                                            -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 
                    }

                                        .img3 {
                    background-image: url({{STATIC_URL}}img/scouts/data2.jpg);
                    background-repeat: no-repeat;
                    background-size:100% auto;

                                                            -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 
                    }

                                        .img4 {
                    background-image: url({{STATIC_URL}}img/scouts/finance.jpg);
                    background-repeat: no-repeat;
                    background-size:100% auto;

                                                            -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 
                    }

                                        .img5 {
                    background-image: url({{STATIC_URL}}img/scouts/factory.jpg);
                    background-repeat: no-repeat;
                    background-size:100% auto;

                                                            -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 
                    }

                                                            .img6 {
                    background-image: url({{STATIC_URL}}img/scouts/tech2.jpg);
                    background-repeat: no-repeat;
                    background-size:100% auto;

                                                            -khtml-opacity:.70; 
                     -moz-opacity:.70; 
                     -ms-filter:"alpha(opacity=70)";
                      filter:alpha(opacity=70);
                      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
                      opacity:.70; 
                    }


                    .white {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    text-shadow: grey 0.1em 0.1em 0.1em
                    }
                </style>


                <div id="recent-activity" class="tab-pane active">
                    <div class="profile-activity">
                        <div class="act-time">
                            <div class="activity-body act-in img1 op">
                                <span class="arrow"></span>
                                <div class="text">

                                    <span class="white">Laboratory Technician Jobs - 52 Scout Outs</span>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="act-time">
                            <div class="activity-body act-in img2 op">
                                <span class="arrow"></span>
                                <div class="text">

                                    <span class="white">Tech - 52 Scout Outs</span>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="act-time">
                            <div class="activity-body act-in img-bg img3">
                                <span class="arrow"></span>
                                <div class="text">

                                    <span class="white">Data - 52 Scout Outs</span>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="act-time">
                            <div class="activity-body act-in img-bg img4">
                                <span class="arrow"></span>
                                <div class="text">

                                    <span class="white">Finance - 52 Scout Outs</span>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>




                        <div class="act-time">
                            <div class="activity-body act-in img-bg img5">
                                <span class="arrow"></span>
                                <div class="text">

                                    <span class="white">Factory - 52 Scout Outs</span>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>



                                                <div class="act-time">
                            <div class="activity-body act-in img-bg img6">
                                <span class="arrow"></span>
                                <div class="text">

                                    <span class="white">Nurse Prac - 52 Scout Outs</span>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>

            <div class="col-lg-4">
                
                 <!--project team start-->
                <section class="panel">
                    <div class="panel-body project-team">
                        <div class="task-progress">
                            <h1>Top Companys - Omaha, NE</h1>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/companys/union.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">Union Pacific</p>
                                    <p class="profile-occupation">95 Jobs - 33 Scout-Outs</p>
                                </td>
                                <td>
                                    <span class="badge bg-important">75%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/companys/td.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">TD Ameritrade</p>
                                    <p class="profile-occupation">82 Jobs - 25 Scout-Outs</p>
                                </td>
                                <td>
                                    <span class="badge bg-success">43%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/companys/mutual.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">Mutual of Omaha</p>
                                    <p class="profile-occupation">70 Jobs - 21 Scout-Outs</p>
                                </td>
                                <td>
                                    <span class="badge bg-info">67%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/companys/paypal.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">PayPal</p>
                                    <p class="profile-occupation">82 Jobs - 13 Scout-Outs</p>
                                </td>
                                <td>
                                    <span class="badge bg-warning">30%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/companys/nebraska.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">University of Nebraska</p>
                                    <p class="profile-occupation">300 Jobs - 15 Scout-Outs</p>
                                </td>
                                <td>
                                    <span class="badge bg-primary">15%</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!--Project Team end-->

                <!--project team start-->
                <section class="panel">
                    <div class="panel-body project-team">
                        <div class="task-progress">
                            <h1>Top Scouts</h1>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/avatar1_small.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">John Doe</p>
                                    <p class="profile-occupation">UX Designer</p>
                                </td>
                                <td>
                                    <span class="badge bg-important">75%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/avatar-mini.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">Rena Rios</p>
                                    <p class="profile-occupation">UX Designer</p>
                                </td>
                                <td>
                                    <span class="badge bg-success">43%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/avatar-mini2.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">Robin Mathis</p>
                                    <p class="profile-occupation">UX Designer</p>
                                </td>
                                <td>
                                    <span class="badge bg-info">67%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/avatar-mini3.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">Bennie Gilliam</p>
                                    <p class="profile-occupation">UX Designer</p>
                                </td>
                                <td>
                                    <span class="badge bg-warning">30%</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/avatar-mini4.jpg">
                                    </span>
                                </td>
                                <td>
                                    <p class="profile-name">Eddy Wilcox</p>
                                    <p class="profile-occupation">UX Designer</p>
                                </td>
                                <td>
                                    <span class="badge bg-primary">15%</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!--Project Team end-->



            </div>

        </div>
        <!-- project team & activity end -->


    </section>
</section>
<!--main content end-->
{% endblock %}